<div class="container my-5">
  <h1>Edit task</h1>
    <div class="form">
      <%= simple_form_for(@task) do |f| %>
        <%= f.input :title %>
        <%= f.input :details %>
        <%= f.input :completed %>
        <%= f.submit  :class => "btn btn-primary" %>
      <% end %>
    </div>
  <p class="back"><i class="fas fa-undo"></i> <%= link_to "Back to list", index_path %></p>
</div>