<div class="container my-5">
  <h1>New task</h1>
  <div class="form">
    <%= simple_form_for(@task) do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <div class="btn btn-primary"><%= f.submit %></div>
    <% end %>
  </div>
  <p class="back"><i class="fas fa-undo"></i> <%= link_to "Back to list", index_path %></p>
</div>
